body{
  font-family: 'Montserrat';
}
#title{
  background-color: #ff4c68;
  color: #fff;
}
h1{
  font-family: 'Archivo Black', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.5;
}

h2{
  /* font-family: 'Righteous', cursive; */
  font-family: 'Archivo Black', sans-serif;
  font-size: 3rem;
}

h3{
  font-family: 'Archivo Black';
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15%;
}

/* Navigaion Bar */

.navbar{
  padding: 0 0 4.5rem 0;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

/* Download Bottons */

.download-buttton{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width: 60%;
  transform: rotate(30deg);
}

/* features section */
#features{
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}
.custom-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.custom-icon:hover{
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}


/* Press Section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}
